%li
  .avatar
    = image_tag "gravatar.jpg"
    %span.comment-name
      = link_to comment.user.name, comment.user
    %spam.comment-date
      = comment.created_at.to_formatted_s(:short)
  .comment-text
    %p= comment.body
    %ul
      = render :partial => 'comments/comment', :collection => comment.comments
