%li{ :class => comment.approved ? "approved" : "not-approved" }
  .avatar
    = image_tag "gravatar.jpg"
    %span.comment-name
      = link_to comment.user.name, comment.user
    %spam.comment-date
      = comment.created_at.to_formatted_s(:short)
  .comment-text
    %p= comment.body
  .comment-buttons
    = link_to 'Add a Reply', new_comment_comment_path(comment), :class => "btn btn-success"
    - if current_user && current_user.admin
      %p.moderation
        = link_to "Delete", comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
        - unless comment.approved
          = link_to "Approve", approve_comment_path(comment), :class => "btn btn-primary"
  - unless comment.comments.empty?
    %ul
      = render :partial => 'comments/comment', :collection => comment.comments
