- provide(:title, 'Home')
- @posts.each do |post|
  .post
    %h2.title
      = link_to post.title, post
    .info
      %p.author
        = link_to post.user.name, post.user
        &nbsp;|
      %p.date
        = post.published_at.to_formatted_s(:short)
        &nbsp;|
      %p.tags
        - post.tags.map(&:name).each do |t|
          = link_to t, tag_path(t)
    .body
      :preserve
        #{post.preview}
    = link_to 'Read More', post, :class => 'btn btn-success'
    - if post.user == current_user
      = link_to 'Edit', edit_post_path(post), :class => 'btn'
      = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn'