= form_for @post, :html => { :class => '' } do |f|
  = f.label :title, :class => "control-label"
  = f.text_field :title, :class => "input-xxlarge"
  = f.label :subtitle, :class => "control-label"
  = f.text_field :subtitle, :class => "input-xxlarge"
  = f.label :tag_list, :class => "control-label"
  = f.text_field :tag_list, :class => "input-xxlarge"
  = f.label :body, :class => "control-label"
  = f.text_area :body, :class => "input-xxlarge", :rows => "20"
  = f.label :preview, :class => "control-label"
  = f.text_area :preview, :class => "input-xxlarge", :rows => "5"
  = f.label :published, :class => "checkbox" do
    = f.check_box :published
    Published
  = f.label :comments_open, :class => "checkbox" do
    = f.check_box :comments_open
    Open Comments
  %p= f.submit "Create", :class => "btn"