= form_for @post, html: { class: "edit-post" } do |f|
  = f.label :title
  = f.text_field :title
  = f.label :subtitle
  = f.text_field :subtitle
  = f.label :tag_list
  = f.text_field :tag_list
  = f.label :body
  = f.text_area :body, :size => "45x20"
  %label.checkbox
    = f.check_box :published
    Published
  %p= f.submit "Create", :class => "btn"