%h3 search

%p= "results: #{@posts.count}"

- @posts.each do |post|
  .post-contents
    .post-content-title
      %h2.post-title
        = link_to post.title, post
      %p.post-content-meta
        %span.post-tags
          - post.tags.map(&:name).each do |t|
            = link_to tag_path(t) do
              %span.label.label-success
                =t
        %span.post-author
          &nbsp;//&nbsp;
          %i.icon-user
          = link_to post.user.name, post.user
        %span.post-date
          &nbsp;//&nbsp;
          %i.icon-calendar
          = post.published_at.to_formatted_s(:short)
        %span.post-comment-count
          &nbsp;//&nbsp;
          %i.icon-comment
          = "Comments: #{post.comments.count}"
    .body
      :preserve
        #{post.preview}
      %p
        = link_to 'Read More', post, :class => 'btn btn-success'
