- provide(:title, @post.title)
.post-contents
  .post-content-title
    %h2.post-title
      = link_to @post.title, @post
    %p.post-content-meta
      %span.post-tags
        - @post.tags.map(&:name).each do |t|
          = link_to tag_path(t) do
            %span.label.label-success
              =t
      %span.post-author
        &nbsp;//&nbsp;
        %i.icon-user
        = link_to @post.user.name, @post.user
      %span.post-date
        &nbsp;//&nbsp;
        %i.icon-calendar
        = @post.published_at.to_formatted_s(:short)
      %span.post-comment-count
        &nbsp;//&nbsp;
        %i.icon-comment
        = "Comments: #{@post.comments.count}"
  .body
    :preserve
      #{@post.rendered_body}
  - if current_user && current_user.admin
    = link_to 'Edit', edit_post_path(@post.id), :class => 'btn'
.comment
  %h3= "#{@post.comments.count} comments on this post"
  %ul
    = render :partial => "comments/comment", :collection => @post.comments
%br.clearfix
%h3.marg20-btm
  Post Comment
.post-comment
  = form_for [@post, Comment.new], :html => { :class => 'form-horizontal' } do |f|
    = f.text_area :body, :rows => "3", :class => "input-xxlarge inp-btm", :style => "resize:none"
    %br
    = f.submit "Submit", :class => "btn btn-success"
