.post
  %h2.title
    = link_to @post.title, @post
  .info
    %p.author
      = link_to @post.user.name, @post.user
      &nbsp;|
    %p.date
      = @post.published_at.to_formatted_s(:short)
      &nbsp;|
    %p.tags
      - @post.tags.map(&:name).each do |t|
        = link_to t, tag_path(t)
  .body
    :preserve
      #{@post.rendered_body}
  - if @post.user == current_user
    .links
      = link_to 'Edit', edit_post_path(@post), :class => "btn btn-mini"
      = link_to 'Destroy', @post, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-mini btn-danger"
= form_for [@post, Comment.new] do |f|
  = f.text_area :body, :rows => "3"
  = f.submit "Add a comment", :class => "btn"
.comments
  = render :partial => 'comments/comment', :collection => @post.comments

/ - if @post.comments_open
/   .new_comment
/     %h4 Make a comment
/      = form_for([@post, @post.comments.build]) do |f|
/      = f.text_area :body
/      = f.submit "Add", :class => "btn"
/ - if @post.comments.count > 0
/   .comments
/     %h4
/       Comments (#{@post.comments.count})
/     - @post.comments.each do |c|
/       .comment
/         %p.name
/           = c.user.name
/           &nbsp;@&nbsp;
/           = c.created_at.to_formatted_s(:short)
/         %p=c.body