%h3
  Search
.control-group
  .controls
    .input-append
      :plain
        <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn btn-success" type="button">Go!</button>

%h3
  Recent Posts
%ul.list-sidebar
  - Post.recent.each do |p|
    %li
      %i.icon-pencil
      =link_to p.title, p

%h3
  Tags
%p.post-tags
  - Tag.used.take(12).each do |t|
    = link_to tag_path(t.name) do
      %span.label.label-success
        =t.name
    
- if current_user
  %h3
    Welcome
  %p= "Logged in as: #{current_user.name}"
  - if current_user.admin
    %p= link_to "New Post", new_post_path
  %p= link_to "Logout", logout_path
- else
  %h3
    Login
  = form_tag(sessions_path, :class => 'form-horizontal') do
    = text_field_tag :name, nil, :placeholder => 'username', :class => 'input-small'
    %br
    = password_field_tag :password, nil, :placeholder => 'password', :class => 'input-small'
    %br
    = button_tag 'Log in', :class => "btn"